<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>

<button onclick="create_tbpost()">create</button>

<script>
    function create_tbpost(){
        $.ajax({
            url: "/api/tbpost",
            type: "POST",
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify({
                title : "제목1"
                ,author : "작성자1"
                ,content : "내용1"
            }),
            cache: false,
            success: (data, status, xhr)=>{
                //alert("success!!");
                alert(JSON.stringify(data));
            },
            error: (data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(data));
            }
        });
    }
</script>

</body>
</html>