<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thc.smspr2.mapper.TbpostMapper">

    <!---->
    <select id="detail" parameterType="hashMap" resultType="com.thc.smspr2.dto.TbboardDto$SelectResDto">
        SELECT tbboard.id
             ,tbboard.deleted
             ,tbboard.process
             ,tbboard.created_at as createdAt
             ,tbboard.modified_at as modifiedAt

             ,tbboard.title
             ,tbboard.author
             ,tbboard.content
        FROM tbboard
        WHERE tbboard.id = #{id}
    </select>
    <select id="list" parameterType="hashMap" resultType="com.thc.smspr2.dto.TbboardDto$SelectResDto">
        SELECT tbboard.id
        FROM tbboard
        WHERE tbboard.id is not NULL
        <if test = "deleted != null and deleted !=''">AND tbboard.deleted = #{deleted}</if>
        <if test = "title != null and title !=''">AND tbboard.title LIKE CONCAT('%', #{title}, '%')</if>
        <if test = "author != null and author !=''">AND tbboard.author LIKE CONCAT('%', #{author}, '%')</if>
        ORDER BY tbboard.created_at DESC
    </select>

    <select id="scrollList" parameterType="hashMap" resultType="com.thc.smspr2.dto.TbboardDto$SelectResDto">
        SELECT tbboard.id
        FROM tbboard
        WHERE tbboard.id is not NULL
        <if test = "deleted != null and deleted !=''">AND tbboard.deleted = #{deleted}</if>
        <if test = "title != null and title !=''">AND tbboard.title LIKE CONCAT('%', #{title}, '%')</if>
        <if test = "author != null and author !=''">AND tbboard.author LIKE CONCAT('%', #{author}, '%')</if>

        <if test = "orderby =='created_at'">
            <if test = "orderway =='desc'">
                <if test = "cursor != null and cursor !=''">AND STR_TO_DATE(#{cursor}, '%Y-%m-%d %H:%i:%s.%f') > tbboard.created_at </if>
                ORDER BY tbboard.created_at DESC
            </if>
            <if test = "orderway =='asc'">
                <if test = "cursor != null and cursor !=''">AND tbboard.created_at > STR_TO_DATE(#{cursor}, '%Y-%m-%d %H:%i:%s.%f')</if>
                ORDER BY tbboard.created_at ASC
            </if>
        </if>
        <if test = "orderby =='title'">
            <if test = "orderway =='desc'">
                <if test = "cursor != null and cursor !=''">AND #{cursor} > tbboard.title</if>
                ORDER BY tbboard.title DESC
            </if>
            <if test = "orderway =='asc'">
                <if test = "cursor != null and cursor !=''">AND tbboard.title > #{cursor}</if>
                ORDER BY tbboard.title ASC
            </if>
        </if>
        LIMIT 0, #{perpage}
    </select>

    <select id="pagedList" parameterType="hashMap" resultType="com.thc.smspr2.dto.TbboardDto$SelectResDto">
        SELECT tbboard.id
        FROM tbboard
        WHERE tbboard.id is not NULL
        <if test = "deleted != null and deleted !=''">AND tbboard.deleted = #{deleted}</if>
        <if test = "title != null and title !=''">AND tbboard.title LIKE CONCAT('%', #{title}, '%')</if>
        <if test = "author != null and author !=''">AND tbboard.author LIKE CONCAT('%', #{author}, '%')</if>

        <if test = "orderby =='created_at'">ORDER BY tbboard.created_at </if>
        <if test = "orderby =='title'">ORDER BY tbboard.title </if>
        <if test = "orderway =='asc'">ASC</if>
        <if test = "orderway =='desc'">DESC</if>
        LIMIT #{offset}, #{perpage}
    </select>
    <select id="pagedListCount" parameterType="hashMap" resultType="Integer">
        SELECT count(tbboard.id) as listsize
        FROM tbboard
        WHERE tbboard.id is not NULL
        <if test = "deleted != null and deleted !=''">AND tbboard.deleted = #{deleted}</if>
        <if test = "title != null and title !=''">AND tbboard.title LIKE CONCAT('%', #{title}, '%')</if>
        <if test = "author != null and author !=''">AND tbboard.author LIKE CONCAT('%', #{author}, '%')</if>
    </select>

</mapper>